.user-profile {
  padding: 15px;
  width: 100%;
}

.stream-container {
  margin: 25px auto;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    margin: 0 auto;
    max-height: 523px;
    max-width: 930px;
    position: absolute;
    top: 0;
    width: 100%;
  }
}