.inner-content {
  display: flex;
  height: calc(100vh - 55px);
  margin-top: 55px;
  width: 100%;
}

main {
  flex-grow: 100;
  overflow-x: hidden;
  overflow-y: scroll;

  .main-container {
    width: 100%;
  }
}