@use '../../sass/main.scss';

.game {
  width: 100%;
}

.game-header {
  img {
    height: 30vh;
    max-width: 100%;
    object-fit: cover;
    opacity: 0.5;
    position: relative;
    width: 100%;
    z-index: -10;
  }
}

.game-section {
  display: flex;
  margin: 0 auto;
  max-width: 95%;
  z-index: 1;

  .game-cover {
    min-width: 275px;
    position: relative;
    top: -150px;
    width: 275px;

    img {
      max-width: 100%;
    }
  }

  .game-info {
    padding: 0 20px;

    a {
      font-size: 14px;
    }
  }
}

.streams-section {
  margin: 25px auto;
  max-width: 95%;

  .streams-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: space-between;
  }
}

/* Smaller Screens */
@media only screen and (max-width: 800px) {
  .game-section {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .game-cover {
    margin: 0 auto;
    max-width: 200px;

    img {
      display: block;
      margin: 0 auto;
      width: 200px;
    }
  }

  .game-info {
    flex: 1;
    margin: 0 auto;
    padding: 0;

    h1 { 
      text-align: center;
    }
  }

  .streams-section {
    border-top: 1px solid main.$twitch-ice;
  }
}