@import '../../variables.scss';

.gameHeader {
  position: relative;

  .headerImage {
    position: relative;
    top: -20px;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    opacity: 0.5;
    z-index: -10;
  }
}

.gameSection {
  width: 90vw;
  display: flex;
  margin-top: -160px;
  margin-bottom: 2em;
}

.gameCover {
  flex: 1;
  min-width: 250px;

  img {
    width: 100%;
  }
}

.gameInfo {
  flex: 3.5;
  align-self: stretch;
  padding: 125px 2em 0 2em;

  h1 {
    margin-bottom: 0;
  }

  a {
    font-size: 14px;
  }
}

/* Styles for Smaller Screens */
@media only screen and (max-width: 800px) {
  .gameSection {
    width: 100%;
    flex-direction: column;
  }

  .gameCover {
    flex: 1;

    img {
      width: 200px;
      display: block;
      margin: 0 auto;
    }
  }

  .gameInfo {
    flex: 1;
    padding: 0;

    h1 {
      text-align: center;
    }
  }
}

.streamsSection {
  border-top: 1px solid $twitch-ice;
}

.streamsGrid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: space-between;
  grid-gap: 1rem;
}