.ratings {
  display: flex;
  height: 80px;
  margin: 1em 0;
  width: 100%;

  .total-rating {
    align-items: center;
    border-radius: 5px;
    display: flex;
    font-weight: bold;
    height: 80px;
    justify-content: center;
    margin-right: 2rem;
    text-align: center;
    width: 80px;

    .rating-number {
      font-size: 36px;
      line-height: 28px;
    }
  }

  .separate-ratings {
    align-items: center;
    display: flex;
    justify-content: space-evenly;

    .critic-rating {
      margin-right: 2rem;
    }
  }

  .rating-heading {
    font-size: 18px;
    font-weight: bold;
  }

  .rating-count {
    font-size: 14px;
  }
}

@media only screen and (max-width: 800px) { 
  .ratings{
    justify-content: center;
    margin: 0 auto;
  }
}

.superb { background-color: #30AF3F; }
.great { background-color: #35AE05; }
.good { background-color: #40AA00; }
.alright { background-color: #51A400; }
.fair { background-color: #689C00; }
.average { background-color: #839400; }
.poor { background-color: #9E8B00; }
.bad { background-color: #BA8200; }
.veryBad { background-color: #D37900; }
.awful { background-color: red; }