@use '../../sass/main.scss';

.stream-card-container {
  a {
    text-decoration: none;
  }

  &:hover {
    color: main.$twitch-ice;
  }
}

.stream-card {
  background-color: main.$twitch-grey;
  border-radius: 10px;
  height: 300px;
  padding-bottom: 5px;

  img {
    border-radius: 10px 10px 0 0;
    max-width: 100%;
  }

  &:hover {
    color: main.$twitch-ice;
    filter: brightness(135%);
  }
}

.stream-info {
  font-size: 14px;
  padding: 0px 10px;
  
  h2 {
    font-size: 16px;
    line-height: 20px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}