@use '../../sass/main.scss';

.game-card {
  margin-bottom: 35px;
  max-width: 200px;
  width: 45vw;

  div:hover {
    color: main.$twitch-purple;
  }

  img {
    border: 1px solid grey;
    max-width: 100%;
  }
}

.game-name {
  color: main.$twitch-ice;
  font-weight: bold;
  text-decoration: none;
}