@use '../../sass/main.scss';

.hero {
  border-bottom: 1px solid main.$twitch-ice;
  height: 50vh;
}

.hero-content {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  width: 90%;

  h1 {
    font-size: 42px;
    text-align: center;
  }
}